.Get-Page-Header {
  font-size: 35px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.684);
}

.Get-Page {
  background-color: rgb(204, 215, 166);
  height: 100%;
  border: 1px solid black;
  border-radius: 30px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px 2px 2px rgba(63, 62, 62, 0.293);
}
@media(max-width:1024px){
  .Get-Page{
    height: auto;
    width: 100%;
  }
}
@media(max-width:480px){
  .Get-Page{
    height: auto;
    width: 100%;
  }
}
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  font-size: 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}
@media(max-width:1024px){
  table{
    font-size: 18px;
    width: 95%;
  }
}
@media(max-width:480px){
  table{
    width: 100%;
    font-size: 16px;
    display: block;          /* make table scrollable */
    overflow-x: auto;        /* horizontal scroll if too wide */
    white-space: nowrap;     
  }
}
th {
  background-color: #e8d8d8;
  padding: 10px;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.447);
}

td {
  padding: 10px 12px;
  background-color: rgb(175, 223, 223);
}

tr:nth-child(even) {
  background-color: #f1f8e9;
  /* light greenish */
}

table,
th,
td {
  border: 2px solid black;
}

.Get-Page-Buttons {
  background-color: rgb(129, 129, 227);
  text-decoration: none;
  display: flex;
  justify-content: center;
  /* centers horizontally */
  align-items: center;
  /* centers vertically inside container */
  margin: 0 auto;
  /* center the button block itself */
  width: fit-content;
  /* button takes only as much width as needed */
  padding: 10px 20px;
  /* some spacing inside */
  border-radius: 5px;
  /* optional rounded corners */
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 1px 1px 1px 1px rgb(63, 62, 62);
}

.Get-Page-Buttons:hover {
  background-color: #6dd869;
}

.Get-Page-Home-Btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #e59bec;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 1px 1px 1px 1px rgba(63, 62, 62, 0.59);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.474);
}

.Get-Page-Home-Btn:hover {
  background-color: #ef4e8b;
  color: black;
}
