.Update-Page-Background {
  margin: 16px;
  width: 98.5%;
  height: 95vh;
  background-color: #bbebba;
  border: 2px solid black;
  border-radius: 70px;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.264);
}
@media(max-width:1024px){
  .Update-Page-Background{
    width: 80%;
    height:auto;
  }
}
@media(max-width:480px){
  .Update-Page-Background{
     width: 100%;
    font-size: 16px;
    display: block;          /* make table scrollable */
    overflow-x: auto;        /* horizontal scroll if too wide */
    white-space: nowrap; 
  }
}
.Update-Page-Background:hover {
  background-color: #9ce69c;
}

.Update-Page {
  margin: 50px auto;
  border-collapse: collapse;
  width: 35%;
  padding: 30px 30px 30px 30px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(190, 211, 211);
  border: 2px solid black;
  border-radius: 35px;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.264);
}
@media(max-width:1024px){
  .Update-Page{
    width: 80%;
    height:auto;
  }
}
@media(max-width:480px){
  .Update-Page{
     width: 100%;
    font-size: 16px;
    display: block;          /* make table scrollable */
    overflow-x: auto;        /* horizontal scroll if too wide */
    white-space: nowrap; 
  }
}
.Update-Page:hover {
  background-color: rgba(177, 216, 111, 0.541)
}

.Update-Page-Heading {
  margin-top: 200px;
  font-size: 30px;
  text-align: center;
  color: rgb(38, 33, 33);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

.Update-Page-Heading:hover {
  color: rgba(17, 17, 17, 0.612);
}

.text {
  border: 1px solid black;
  border-radius: 15px;
  font-size: 30px;
  padding: 12px;
  width: 500px;
}

.Update-Button {
  background-color: rgb(150, 150, 211);
  text-decoration: none;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;  /* centers vertically inside container */
  margin: 0 auto;  /* center the button block itself */
  width: fit-content;  /* button takes only as much width as needed */
  padding: 15px 28px;  /* some spacing inside */
  border-radius: 5px;  /* optional rounded corners */
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(6, 6, 6, 0.264);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

.Update-Button:hover {
  background-color: burlywood;
}

.Update-Button a {
  text-decoration: none;
}
